@model hospital.models.PatientReport

@{
    ViewData["Title"] = "Details";
    Layout = "~/V";
}

<h1>Details</h1>

<div>
    <h4>PatientReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Report_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Report_MedicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report_MedicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Report_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Doctor_Contact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientReport_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
